header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:16px 64px;
  background-color: rgba(17, 14, 5, 0.8);
  backdrop-filter: blur(12px);
  border-bottom:1px solid rgba(255,255,255,0.03);
}
.navegacion-multicine, .opciones-usuario{
  display:flex;
  flex-direction: row;
  align-items:inherit;
  justify-content:space-between;
  gap:48px;
}
.logo img{
  height:44px; display:block; object-fit:contain
}
.menu-navegacion ul{
  display:flex;
  gap:32px;
}
.menu-navegacion a{
  color: #D0C6AB;
  font-weight:400;
  font-size:12px;
}
.menu-navegacion a:hover{
  color:#FFEDB2;
  font-weight: bold;
  border-bottom: 2px solid #FFEDB2;
}
.opciones-usuario{
  display: flex;
  align-items: inherit;
  gap: 24px;
}
.usuario-ciudad{
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  align-items: inherit;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.ubicacion-icon{
  height: 16px;
}
.usuario-ciudad, .usuario-sesion {
  display:flex;
  flex-direction: row;
  padding:8px 16px;
  border-radius:8px;
  align-items: inherit;
  border:1px solid rgba(255,255,255,0.04);
}
select {
  color: #D0C6AB;
  font-weight: 200px;
  align-items: inherit;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: transparent;
}
select option {
  background-color: #222;
  padding: 8px;
}
.multicine-usuario{
  display: flex;
  align-items: inherit;
  gap: 16px;
}
.compras-icon{
  width: 20px;
  height: 20px;
}
.usuario-sesion{
  background:#F5CF0B;
}
.usuario-sesion .btn-sesion{
  text-decoration: none;
  font-size: 12px;
  font-weight:bold;
  color:#6A5800;
  border:none;
}